<div class="new_nav">
          <div class="customnav"> 
        <ul class="ulsize">
            {% for link in linklists[section.settings.main_linklist].links %}
          
          {% assign child_list_handle = link.title | handle %}
		
          
                 <li class="{% if linklists[child_list_handle].links != blank %}has_dropdown{%else%}site_nav_item{%endif%}" {% if link.active %}id="active{% if link.child_active %}child-active{% endif %}"{% endif %}>
                   <a href="{{ link.url }}">{{ link.title }} {% if link.links != blank %}<span class="down-arrow">{%include 'icon-arrow-down'%}</span>{% endif %}</a>  
                    
                    <ul class="child">
                      {% for child_link in link.links %}  
                      
                      <li {% if child_link.active %}id="active{% if child_link.child_active %}child-active{% endif %}"{% endif %}><a href= "{{ child_link.url }}">{{ child_link.title }} {% if child_link.links != blank %}<span class="right-arrow">{%include 'icon-arrow-right'%}</span>{% endif %}</a>
                      
                        <ul class="grandchild">
                        {% for grandchild_link in child_link.links %}  
                          <li><a href= "{{ grandchild_link.url }}">{{ grandchild_link.title }}</a></li>
                        {% endfor %}
                        </ul>
                       
                      </li>
                      {% endfor %}
                    </ul> 
					 
                 </li>
             {% endfor %}  
        </ul> 
          </div>
        </div>
